{:dev-env {:env {:web-host "0.0.0.0"
                 :web-port 8080

                 :storage-nodes "localhost,"
                 :storage-keyspace "malt"
                 :storage-user "cassandra"
                 :storage-password "cassandra"
                 :configuration-table "configuration"
                 :settings-table "settings"

                 :app-env "dev"
                 :session-ttl 3600}}
 :test-env {:env {:web-host "0.0.0.0"
                  :web-port 8082

                  :storage-nodes "localhost,"
                  :storage-keyspace "malt_test"
                  :storage-user "cassandra"
                  :storage-password "cassandra"
                  :configuration-table "configuration"
                  :settings-table "settings"

                  :app-env "test"
                  :session-ttl 3600}}}
