[% extends "layout.html" %]

[% block head %]
<link href="/css/models/index.css" rel="stylesheet"/>
<link rel="stylesheet" href='/vendor/handsontable-master/dist/handsontable.full.css'/>
[% endblock %]

[% block body %]

<!-- Modal -->
<div class="modal fade" id="upload-model-details" tabindex="-1" role="dialog" aria-labelledby="uploadModelDetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModelDetails">Model Info</h4>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="upload-model-in" tabindex="-1" role="dialog" aria-labelledby="uploadModelIn">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModelIn">Select In Cells</h4>
            </div>
            <div class="modal-body">
                <div class="row navigation">
                    <div class="col-md-3">
                        <span class="navigation-done">Model Info</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-active">Select In Cells</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-default">Select Out Cells</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-default">Review and Upload</span>
                    </div>
                </div>
                <div class="row cell-form">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter name of the cell">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-primary" type="button">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#markets-sheet" aria-controls="home" role="tab" data-toggle="tab">Markets</a>
                            </li>
                            <li role="presentation">
                                <a href="#correct-score-sheet" aria-controls="profile" role="tab" data-toggle="tab">Correct
                                    Score</a>
                            </li>
                            <li role="presentation">
                                <a href="#scoreboardss-sheet" aria-controls="messages" role="tab" data-toggle="tab">Scoreboards</a>
                            </li>
                            <li role="presentation">
                                <a href="#races-sheet" aria-controls="settings" role="tab" data-toggle="tab">Races</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="sheet-table">

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">...</div>
                            <div role="tabpanel" class="tab-pane" id="messages">...</div>
                            <div role="tabpanel" class="tab-pane" id="settings">...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                        data-target="#upload-model-details">Back
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                        data-target="#upload-model-out">Next
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="upload-model-out" tabindex="-1" role="dialog" aria-labelledby="uploadModelOut">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModelOut">Select Out Cells</h4>
            </div>
            <div class="modal-body">
                <div class="row navigation">
                    <div class="col-md-3">
                        <span class="navigation-done">Model Info</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-done">Select In Cells</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-active">Select Out Cells</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-default">Review and Upload</span>
                    </div>
                </div>
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                        data-target="#upload-model-in">Back
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                        data-target="#upload-model-review">Next
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="upload-model-review" tabindex="-1" role="dialog" aria-labelledby="uploadModelReview">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModelReview">Review and Upload</h4>
            </div>
            <div class="modal-body">
                <div class="row navigation">
                    <div class="col-md-3">
                        <span class="navigation-done">Model Info</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-done">Select In Cells</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-done">Select Out Cells</span>
                        <span class="pull-right">→</span>
                    </div>
                    <div class="col-md-3">
                        <span class="navigation-active">Review and Upload</span>
                    </div>
                </div>
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                        data-target="#upload-model-out">Back
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>
<h1>Models</h1>
[% if admin? %]
<a href="/models/upload" class="btn btn-primary btn-lg">Upload New</a>
[% endif %]
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>File Name</th>
        <th>In Sheet Name</th>
        <th>Out Sheet Name</th>
        <th>Last Modified</th>
        <th>Actions</th>
    </tr>
    [% for model in models %]
    <tr class="model" data-rev="[[model.rev]]" data-id="[[model.id]]">
        <td class="model-id">[[model.id]]</td>
        <td class="model-name">[[model.name]]</td>
        <td class="model-file-name">[[model.file_name]]</td>
        <td class="model-in-sheet-name">[[model.in_sheet_name]]</td>
        <td class="model-out-sheet-name">[[model.out_sheet_name]]</td>
        <td class="model-last-modified">[[model.last_modified]]</td>
        <td>
            <form action="/models/[[model.id|u]]" method="POST" class="form-inline">
                <div class="btn-group">
                    <a class="btn btn-primary" href="/models/[[model.id|u]]/[[model.rev|u]]/profile">Profile</a>
                    [% if admin? %]
                    <a class="btn btn-default confirmable" href="/models/[[model.id|u]]/download">Download</a>
                    <a class="btn btn-default" href="/models/[[model.id|u]]/edit">Replace</a>
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" class="btn btn-danger confirmable">Delete</button>
                    [% endif %]
                </div>
            </form>
        </td>
    </tr>
    [% endfor %]
</table>

[% endblock %]

[% block scripts %]
<script src="/vendor/handsontable-master/dist/handsontable.full.js"></script>
<script src="/js/models/index.js" type="text/javascript"></script>

[% endblock %]

