[% extends "layout.html" %]

[% block head %]
<link href="/assets/metroui/css/metro-bootstrap.css" rel="stylesheet"/>
[% endblock %]

[% block body %]

<style>
    .model-input-params .fieldset-submit > .form-group label {
    display: inline-block;
    width: 80%;
    word-wrap: break-word;
    }
    .model-input-params .fieldset-submit > .form-group input[type="text"] {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 67px;
    }


    .model-input-params .form-group {
    margin-bottom: 0;
    }

    .model-input-params .form-group input {
    height: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    }

    .metro .tile {
    height: auto !important;
    width: auto !important;
    cursor: auto;
    }

    .metro .tile:hover {
    outline: none;
    }

    .metro .center {
    text-align: center;
    }
</style>

[% if json-out-params %]
<script>
window.OUT_PARAMS = [[ json-out-params|safe ]];
</script>
[% endif %]

<div class="row">
    <div class="col-md-4">
        <h3>Model profiling</h3>
    </div>
    <div class="col-md-4">
        <h4>
            [[ model-file ]]
            <small>([[ model-name ]])</small>
        </h4>
    </div>
    <div class="col-md-4">
        <div class="text-right">
            <form class="form-inline" action="/models/[[model-id]]/log" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">SID</div>
                        <input type="text" class="form-control input-small" placeholder="Session token..." name="ssid"
                               value="[[log-session-id]]">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Load from log</button>
            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class=" model-input-params">
            [[ profile-form|form|safe ]]
        </div>
    </div>
    <div class="col-md-9">
        <span class="label label-default pull-right">Total time: [[ calc-result.timer ]] ms</span>
        [% for mgp-code, markets in calc-result.data %]
        <div class="row">
            <div class="metro">
                <h3>[[ mgp-code ]]</h3>
                [% for market, outcomes-groups in markets %]
                <div class="tile" style="margin: 2px">
                    <h6 class="center" style="margin: 2px">
                        [[ market.0 ]]
                        [% if market.1 < 999999 %]
                          ([[ market.1 ]][% if not market.2 = 0.0 %] [[ market.2 ]][% endif %])
                        [% endif %]
                    </h6>
                    <table class="table" style="margin: 0px">
                        [% for outcomes in outcomes-groups %]
                        <tr>
                            [% for outcome in outcomes %]
                            <td class="center" data-id="[[outcome.id]]">
                                [[outcome.o_code]]
                                <br/>
                                [[outcome.coef|double-format:2]]
                                <br/>
                                [% if outcome.timer %]
                                  <span class="[% if outcome.timer > 1 %]text-warning[% endif %]">
                                      [% if outcome.timer = 0 %]
                                      &lt; 1 ms
                                      [% else %]
                                      [[ outcome.timer ]] ms
                                      [% endif %]
                                  </span>
                                [% endif %]
                            </td>
                            [% endfor %]
                        </tr>
                        [% endfor %]
                    </table>
                </div>
                [% endfor %]
            </div>
        </div>
        [% endfor %]
    </div>
</div>

<script src="/assets/metroui/min/metro.min.js"></script>
[% endblock %]
