[% extends "layout-fluid.html" %]

[% block head %]
<link href="/css/models/profile.css" rel="stylesheet" />
[% endblock %]

[% block body %]

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" id='back' href="/models">Back</a>
        <h3>File profiling</h3>

    </div>
    <div class="col-md-4">
        <h4>
            [[ model-file ]]
        </h4>
    </div>
    <div class="col-md-4">
        <div class="text-right">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-options">
                Options
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="model-input-params">
            [[ profile-form|form|safe ]]
        </div>

    </div>
    <div class="col-md-9">
        <span class="label label-default pull-right">Total time: [[ total-timer|double-format:0 ]] ms</span>
        [% if out-values %]
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    [% for head in out-header %]
                    <th>[[ head ]]</th>
                    [% endfor %]
                    <th>Calc time (ms)</th>
                </tr>
                </thead>
                <tbody>
                [% for out-value in out-values %]
                <tr>
                    [% for value in out-value %]
                    <td>[[ value ]]</td>
                    [% endfor %]
                </tr>
                [% endfor %]
                </tbody>
            </table>
        </div>
        [% endif %]
    </div>
</div>


<!-- Modal -->
<div id="modal-options" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Options</h4>
      </div>
      <div class="modal-body">
          <div class="btn-group">
            <a href="#" class="btn btn-default" id="export-in-params-btn">Export IN params</a>
            <a href="#" class="btn btn-default" id="import-in-params-btn">Import IN params</a>
            <a href="#" class="btn btn-default" id="export-out-params-btn">Export OUT params</a>
          </div>
          <input type="file" id="in-params-file" name="file" class="hidden" />
          <a href="#" id="download-anchor" class="hidden"></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="/assets/metroui/min/metro.min.js" type="text/javascript"></script>
<script src="/js/models/profile.js" type="text/javascript"></script>
[% endblock %]
