<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    [% block head %]
    [% endblock %]
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <title>BetEngines</title>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div id="navbar" class="collapse navbar-collapse">
          [% if signed-in? %]
            <ul class="nav navbar-nav">
                [% if admin? %]
                <li><a href="/users">Users</a></li>
                [% endif %]
                <li><a href="/mengine/files">Math engine files</a></li>
                <li><a href="/sengine/files">Settlement engine files</a></li>
                <li><a href="/sengine/events">Settlement engine events</a></li>
                <!-- <li><a href="/filler">Cache Filler</a></li> -->
            </ul>

            <form action="/auth" method="post" class="navbar-form navbar-right">
               <input type="hidden" name="_method" value="DELETE"/>
              <button type="submit" class="btn btn-default">Sign out</button>
            </form>
            [% endif %]
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="flash">
        [% if flash.success %]
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span id="flash-msg">[[flash.success]]</span>
        </div>
        [% endif %]

        [% if flash.error %]
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span id="flash-msg">[[flash.error]]</span>
        </div>
        [% endif %]
    </div>

    [% block body %]
    [% endblock %]
</div>
<script src="/js/csrf.js" type="text/javascript"></script>
<script src="/vendor/handlebars/handlebars-v4.0.4.js" type="text/javascript"></script>
<script src="/vendor/underscore/underscore-min.js" type="text/javascript"></script>
</body>
</html>
