[% extends "layout-fluid.html" %]

[% block head %]
<link href="/css/models/profile.css" rel="stylesheet" />
[% endblock %]

[% block body %]

<div class="row">
    <div class="col-sm-12">
        <h4>File info</h4>

        <div class="row">
            <div class="col-sm-2">
                <form id="destroy-session" action="destroy" method="POST">
                    <button class="btn btn-danger" type="submit">Destroy session</button>
                </form>
            </div>
            <div class="col-sm-2">
                [% if admin? %]
                <form id="download-workbook" method="POST">
                    <button class="btn btn-primary" type="submit">Download workbook</button>
                </form>
                [% endif %]
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h4>Add event</h4>
        <form method="POST">
            <label>EventType
                <select class="form-control">
                    <option>Goal</option>
                    <option>Red Card</option>
                    <option>Yellow Card</option>
                    <option>Corner</option>
                    <option>Try Penalty</option>
                    <option>Penalty</option>
                    <option>Missed Penalty</option>
                </select>
            </label>
            <label><input type="checkbox"> Team

                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="Team1" checked>
                        Team1
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="Team2">
                        Team2
                    </label>
                </div>
            </label>
            <label><input type="checkbox"> GamePart
                <select class="form-control">
                    <option>Half1</option>
                    <option>Half2</option>
                    <option>Extratime1</option>
                    <option>Extratime2</option>
                </select>
            </label>

            <label><input type="checkbox"> Standart
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios2" id="optionsRadios1" value="Corner" checked>
                        Corner
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios2" id="optionsRadios1" value="Penalty">
                        Penalty
                    </label>
                </div>
            </label>

            <label><input type="checkbox"> BodyPart
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios3" id="optionsRadios1" value="Head" checked>
                        Head
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios3" id="optionsRadios1" value="Leg">
                        Leg
                    </label>
                </div>
            </label>

            <label><input type="checkbox"> Accidental
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios4" id="optionsRadios1" value="FreeKick">
                        Freekick
                    </label>
                </div>
            </label>

            <label><input type="checkbox"> Player
                <select class="form-control">
                    <option>Player1</option>
                    <option>Player2</option>
                    <option>Player3</option>
                    <option>Player4</option>
                </select>
            </label>

            <label><input type="checkbox"> Current Handicap
                <input type="number" class="form-control" placeholder="">
            </label>
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-sm-12">
        <h4>New events</h4>
        <form method="POST">
            <div class="col-sm-6">
                <div class="form-group">
                    <textarea class="form-control" name="event-log" rows="10"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="send-type" value="append" checked/>
                        Append events
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="send-type" value="set"/>
                        Set events
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h4>Event log:</h4>
        [% for row in event-log %]
        <pre>[[ row ]]</pre>
        [% endfor %]
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h4>Markets</h4>
        <table class="table table-condensed table-striped">
            <thead>
              <tr>
                  [% for val in out.header %]
                  <th>[[ val ]]</th>
                  [% endfor %]
              </tr>
            </thead>
            <tbody>
            [% for row in out.rows %]
            <tr>
                [% for val in row %]
                <td>[[ val ]]</td>
                [% endfor %]
            </tr>
            [% endfor %]
            </tbody>
        </table>
    </div>
</div>

<script src="/js/sengine/profile.js" type="text/javascript"></script>
<script src="/js/compiled/formative-submit-disabler.js"></script>

[% endblock body %]