[% extends "layout-fluid.html" %]

[% block head %]
<link href="/css/models/profile.css" rel="stylesheet" />
[% endblock %]

[% block body %]

<div class="row">
    <div class="col-sm-12">
        <h4>File info</h4>
        <form id="destroy-session" action="destroy" method="POST">
            <button class="btn btn-danger" type="submit">Destroy session</button>
        </form>
        [% if admin? %]
        <form action="" id="download-workbook" method="POST">
            <button class="btn btn-primary" type="submit">Download workbook</button>
        </form>
        [% endif %]
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h4>New events</h4>
        <form method="POST">
            <div class="col-sm-6">
                <div class="form-group">
                    <textarea class="form-control" name="event-log" rows="10"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="send-type" value="append" checked/>
                        Append events
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="send-type" value="set"/>
                        Set events
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h4>Event log:</h4>
        [% for row in event-log %]
        <pre>[[ row ]]</pre>
        [% endfor %]
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h4>Markets</h4>
        <table class="table table-condensed table-striped">
            <thead>
              <tr>
                  [% for val in out.header %]
                  <th>[[ val ]]</th>
                  [% endfor %]
              </tr>
            </thead>
            <tbody>
            [% for row in out.rows %]
            <tr>
                [% for val in row %]
                <td>[[ val ]]</td>
                [% endfor %]
            </tr>
            [% endfor %]
            </tbody>
        </table>
    </div>
</div>

<script src="/js/sengine/profile.js" type="text/javascript"></script>

[% endblock body %]