[% extends "layout-fluid.html" %]

[% block head %]
<link href="/css/models/profile.css" rel="stylesheet"/>
[% endblock %]

[% block body %]

<script>
    window.out = {header: [[ out-header|json|safe ]], values: [[ out-values|json|safe ]]};


</script>

<div ng-controller="MengineProfileCtrl">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary" id='back' href="/mengine/files">Finish</a>

            <h3>File profiling
            <a class="btn btn-link" ng-click="toggleForm()" ng-cloak="">
                <span ng-show="isFormVisible">Hide form</span>
                <span ng-hide="isFormVisible">Show form</span>
            </a>
            </h3>
        </div>
        <div class="col-md-4">
            <h4>
                [[ model-file ]]
            </h4>
        </div>
        <div class="col-md-4">
            <div class="text-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-options">
                    Options
                </button>
            </div>
        </div>
    </div>

    [% if profile-form %]
    <div class="row">
        <div class="col-md-3" ng-show="isFormVisible">
            <div class="model-input-params">
                [[ profile-form|form|safe ]]
            </div>
        </div>
        <div ng-class="{'col-md-9': isFormVisible, 'col-md-12': !isFormVisible}">
        <span class="label label-default pull-right">Total time: [[ total-timer|double-format:0 ]] ms</span>

            <table class="table table-striped"
                   style="word-wrap: break-word"
                   ng-cloak=""
                   ng-if="out.values">
                <thead>
                <tr>

                    <th ng-repeat="head in out.header track by head">
                        {{head}}

                        <select name="{{head}}"
                                class="form-control"
                                ng-model="activeFilter[head]"
                                ng-options="opt.value as opt.label for opt in filters[$index]">
                        </select>
                    </th>
                    <th>Calc time (ms)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in out.values | filter:activeFilter:true | limitTo:rowLimit track by row.id">
                    <td ng-repeat="h in out.header track by h">
                        {{row[h]}}
                    </td>
                    <td>{{row.timer}}</td>
                </tr>
                <tr>
                    <td colspan="{{out.header.length}}">
                        <a ng-click="showMore()">Next 50</a>
                        &mdash;
                        <a ng-click="showAll()">Show all</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    [% endif %]


    <!-- Modal -->
    <div id="modal-options" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Options</h4>
                </div>
                <div class="modal-body">
                    <div class="btn-group">
                        <a href="#" class="btn btn-default" id="export-in-params-btn">Export IN params</a>
                        <a href="#" class="btn btn-default" id="import-in-params-btn">Import IN params</a>
                        <a href="#" class="btn btn-default" id="export-out-params-btn">Export OUT params</a>
                    </div>
                    <input type="file" id="in-params-file" name="file" class="hidden"/>
                    <a href="#" id="download-anchor" class="hidden"></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/assets/metroui/min/metro.min.js" type="text/javascript"></script>
<script src="/js/models/profile.js" type="text/javascript"></script>
<script src="/js/compiled/mengine_profile.js" type="text/javascript"></script>
[% endblock %]
